@model IEnumerable<alert_roster.web.Models.Group>

@{
    ViewBag.Title = "Groups";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Group")
</p>

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">@TempData["Message"]</div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Group", new { id = item.ID })
            </td>
        </tr>
    }

</table>