@model IEnumerable<alert_roster.web.Models.User>

@{
    ViewBag.Title = "View Subscriptions";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Subscribe")
</p>

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">@TempData["Message"]</div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SMSEnabled)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SMSEnabled)
            </td>
            <td>
                @Html.ActionLink("Unsubscribe", "Unsubscribe", new { id = item.ID })
            </td>
        </tr>
    }

</table>
